* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
        "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

